.header__logout-link {
  background-color: #000;
  align-self: center;
  text-decoration: none;
  color: #A9A9A9;
  font-size: 18px;
  line-height: 22px;
  margin-left: 24px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 450px) { 
  
  .header__logout-link {
    margin-left: 0;
  }

}