.header {
  max-width: 880px;
  min-height: 120px;
  margin: auto;
  border-bottom: 1px solid rgb(84, 84, 84, .7);
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-shrink: 0;
  width: calc(100% - 90px);
}

@media screen and (max-width: 700px) {

  .header {
    width: calc(100% - 38px);
  }

}

@media screen and (max-width: 450px) {

  .header {
    min-height: 85px;
  }
  
}